@use "../base" as *;

#pricing {
  background-color: theme-color(color-bg-dark);
  color: theme-color(color-text-light);
}

.pricing-card {
  background-color: theme-color(color-bg-dark);
  color: theme-color(color-text-light);
  border: 1px solid $color-border;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  @include transition(all);

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }

  .btn {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: theme-color(color-bg-dark);
    color: theme-color(color-text-light);
    @include transition(all);

    &:hover {
      background-color: color-shade(theme-color(color-bg-dark), 15%);
    }
  }
}