@use "variable" as *;
@media (max-width: 700px) {
    .hero {
        text-align: center;
        background-position: center;

        h1 {
            font-size: 1.8rem;
            line-height: 1.4;
        }

        p {
            font-size: 1rem;
            margin-top: 1rem;
        }

        .btn {
            width: 80%;
            font-size: 1rem;
            margin-top: 1.5rem;
        }
    }

    #about {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    #team {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 2rem;
    }

    #work {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 1rem;
    }

    #pricing {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 2rem;
    }

    #contact form {
        width: 100%;
        padding: 0 1rem;
    }

    footer {
        .btn {
            width: 80%;
        }
    }
}